*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contentWrapper{
    width: 40%;
}
.imageWrapper{
    width: 60%;
}
.content{
    margin-left: 5em;
}
h1{
    font-size: 5rem;
    color: #292a2c;
    font-weight: 900;
    margin-bottom: 0.2em;
}
h3{
    font-size: 0.9rem;
    color: #889294;
    font-weight: 400;
}
@media(max-width : 1600px){
    h1{
        font-size: 4rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
}
@media(max-width : 1260px){
    h1{
        font-size: 3rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
}
@media(max-width : 1000px){
    h1{
        font-size: 2.5rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
}
@media(max-width : 800px){
    h1{
        font-size: 2.5rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .contentWrapper{
        width: 100%;
    }
    .imageWrapper{
        width: 100%;
    }
}
@media(max-width : 600px){
    h1{
        font-size: 2.5rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .contentWrapper{
        width: 100%;
    }
    .imageWrapper{
        width: 100%;
    }
    .content{
        margin-left: 1em;
    }
}
@media(max-width : 400px){
    h1{
        font-size: 2.5rem;
        color: #292a2c;
        font-weight: 900;
        margin-bottom: 0.2em;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .contentWrapper{
        width: 100%;
    }
    .imageWrapper{
        width: 100%;
    }
    .content{
        margin-left: 0;
    }
}